.conteiner_team {
  width: 1200px;
  margin: 0 auto;
}

.team_subtitle {
  width: 1020px;
  text-align: center;
  margin: 0 auto;
  padding: 50px 0px 95px;
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 1.6;

}



.team {
  display: flex;
  justify-content: space-between;
}

.box_image {
  position: relative;

  &:hover .image_team {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px rgb(149, 225, 211);
    transition: linear 220ms;
  }
}


.overlay {
  background: linear-gradient(rgb(243, 129, 129, 0.9), rgb(252, 227, 138, 0.9));
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  display: none;
}


.image_team {
  margin-bottom: 30px;
  width: 380px;
  height: 470px;
}

.box_image:hover .overlay {
  display: block;
  transition: linear 220ms;
}

.icon_social {
  fill: #f38181;
  width: 26px;
  height: 26px;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 225px;
  transform: translate(78px, 209px);

  &_item {
    width: 55px;
    height: 55px;
    background-color: rgb(252, 227, 138);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: #f38181;
    }

    &:hover .icon_social {
      fill: antiquewhite;
    }
  }
}

.title_team {
  font-size: 14px;
  font-family: "Montserrat",
    sans-serif;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;

}

.subtitle_team_item {
  padding-bottom: 85px;
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.6;
  text-align: center;

}
