.conteiner {

  background-image: linear-gradient($orang-gradient, $yelow-gradient),
    url(../images/fone/fone.jpg);
  background-size: cover;
  padding: 40px 0px 230px;
  min-width: 1201px;
  margin: auto;
}

@media (min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .conteiner {

    background-image: linear-gradient($orang-gradient, $yelow-gradient),
      url(../images/fone/fone@2x-min.jpg);
    background-size: cover;

  }
}



.nav_conteiner {
  display: flex;
  justify-content: space-between;
  width: 611px;
  align-items: center;
}

.nav_box {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.nav_item {
  display: flex;
  width: 502px;
  justify-content: space-between;
}

.icon-nav {
  fill: $white;
}

.icon-nav:hover {
  fill: $yelow;
  transition: linear 3c;
}

.btn_icon {
  display: flex;
  width: 78px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 30px;
  font-family: $main-font;
  color: $white;
  font-weight: bold;
  line-height: 1.2;
}

.nav_item_link {
  font-size: 14px;
  font-family: $main-font;
  color: $white;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 10px;

  &:hover {
    content: "";
    border-bottom: 3px solid $yelow;
    width: 50px;
    height: 3px;
    margin: 0 auto;
    color: $yelow;
    padding: 10px;
    transition: all 0.3s;
  }
}


.title_decoration {
  font-size: 72px;
  font-family: $decorativ-font;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 70px;
}

.title_header {
  width: 840px;
  margin: 0 auto;
}

.title {
  font-size: 150px;
  font-family: $main-font;
  color: $white;
  font-weight: bold;
  line-height: 0.933;
  text-align: center;
  padding-top: 170px;
  margin-bottom: 125px;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;

  &_to {
    font-size: 150px;
    font-family: $main-font;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.933;
    text-align: center;
  }
}



.btn_title {
  font-size: 14px;
  font-family: $main-font;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  border: 3px solid $white;
  padding: 20px 90px;
  color: $white;
  cursor: pointer;
  outline: none;
  align-items: center;
  background: transparent;
  margin: 0 auto;
  display: block;
}




.title_tosection--item {
  font-size: 30px;
  font-family: $main-font;
  color: $black;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  display: block;
  padding-bottom: 40px;
}

.section_main {
  width: 1202px;
  margin: 0 auto;
}
