/*
 * Все паршалы импортировать в этот файл
 */

@import 'normalize.scss';
@import './helpers/fonts.scss';
@import 'base.scss';

@import './sections/header.scss';
@import './sections/services.scss';
@import './sections/conteiner_team.scss';
@import './sections/footer.scss';
