$black:#333333;
$gray: #999999;
$orang:#f38181;
$white:#ffffff;
$yelow:#fce38a;
$orang-gradient:rgba(243, 129, 129, 0.9);
$yelow-gradient:rgba(252, 227, 138, 0.9);
$green-light:rgb(149, 225, 211);
$silver:rgb(231, 231, 231);
$silver-light:rgb(229, 229, 229);
